# Python bytecode and cache
__pycache__/
*.pyc

# Environments
.venv/
.venv
.env/
.env

# IDE settings
.vscode/
.idea/

# Logs
*.log
*.LOG
MUJOCO_LOG.TXT

# Trained models
*.zip
**/trained_models/
**/vecstats/

# TensorBoard logs
**/ppo_go2_tensorboard/
go2_training/tensorboard/
go2_training/tensorboard/eval

# Other
.DS_Store