# Python bytecode and cache
__pycache__/
*.pyc

# Environments
.venv/
.venv
.env/
.env

# IDE settings
.vscode/
.idea/

# Logs
*.log
*.LOG
MUJOCO_LOG.TXT

# Trained models
*.zip
single_env_training/trained_models_single/
single_env_training/alt_training/trained_alt_models/
vectorized_env_training/trained_models_vec/
domain_randomization_env_training/trained_models_domain_rand/
**/vecstats/

# TensorBoard logs
**/ppo_go2_tensorboard/
single_env_training/tensorboard/
single_env_training/tensorboard/eval
single_env_training/alt_training/tensorboard/
single_env_training/alt_training/tensorboard/eval
vectorized_env_training/tensorboard/
vectorized_env_training/tensorboard/eval
domain_randomization_env_training/tensorboard/
domain_randomization_env_training/tensorboard/eval

# Other
.DS_Store